
@{
    ViewData["Title"] = "Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
<h2>Email API</h2>

<ul class="nav nav-pills nav-justified">
    <li><a href="#" data-toggle="tab" onclick="emailNav.renderPartial('@Url.Action("Log", "Email")')">Log</a></li>
    <li><a href="#" data-toggle="tab" onclick="emailNav.renderPartial('@Url.Action("Contacts", "Email")')">Contacts</a></li>
    <li><a href="#" data-toggle="tab" onclick="emailNav.renderPartial('@Url.Action("Applications", "Email")')">Applications</a></li>
</ul>

<div id="emailPillResponse">
</div>

<script src="js/email/emailNav.js" type="text/javascript"></script>